* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.App {
    max-width: 1600px;
    margin: 0 auto;
}

#active_link {
    color: #FF5C00;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px 16px 5px;
    border-bottom: 1px solid #E4E4E4;
}

.navbar a {
    text-decoration: none;
    color: #828487;
}

.links a:hover {
    color: rgba(255, 92, 0, 1);
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav_left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo ul {
    flex-direction: column;
    align-items: flex-start;
}

.logo ul li:last-child {
    font-size: 14px;
}

.logo li:first-child {
    color: black;
    font-weight: 700;
}

.links {
    gap: 50px;
}

.links a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 550;
    font-size: 14px;
}

.links span:first-child {
    font-size: 22px;
    display: flex;
    align-items: center;
}

.nav_right {
    display: flex;
    gap: 50px;
}

.nav_right ul:last-child {
    gap: 20px;
}

.nav_right ul:last-child li:first-child {
    border: 1px solid #E4E4E4;
    padding: 8px 20px 8px 20px;
    border-radius: 40px;
    background-color: rgba(248, 249, 253, 1);
    color: rgba(25, 25, 28, 1);
}

.nav_right ul:last-child figure {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
}

.nav_right ul:last-child figure img {
    width: 100%;
}

.nav_date span:nth-child(6) {
    margin-left: 10px;
}

#back {
    padding: 5px 20px;
    border-right: 1px solid #E4E4E4;
    font-size: 18px;
}

#back a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    color: black;
    border: 1px solid #E4E4E4;
}

.home {
    width: 100%;
    /* height: 100vh;
    overflow: hidden; */
    display: flex;
}

.home main {
    width: 100%;
}

.home aside {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 24px 0 60px 0;
    border-right: 1px solid #E4E4E4;
    background-color: white;
}

.sidebar_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    padding: 8px 6px;
    cursor: pointer;
}

.sidebar_card:hover {
    background: linear-gradient(219deg, #FFAB18 0%, #FF2197 100%);
}

.sidebar_title {
    text-align: center;
    width: 65px;
    font-size: 12px;
    color: rgba(130, 132, 135, 1);
}

.sidebar_card figure {
    width: 25px;
}

.sidebar_card img {
    width: 100%;
}

.search {
    padding: 0 24px 0 0;
    background-color: white;
}

.search_content {
    display: flex;
    align-items: center;
    padding: 22px 24px;
    gap: 10px;
    border-right: 1px solid #E4E4E4;
}

.search label {
    display: flex;
    align-items: center;
}

.search input {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    /* height: 100%;
    overflow: scroll; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    /* padding: 550px 0 50px 0; */
    background-color: #F0F0F0;
}

.wrapper_content {
    display: grid;
    /* padding-top: 100px;
    margin-bottom: 100px; */
    grid-template-columns: repeat(4, 220px);
    gap: 16px;
    justify-content: space-between;
}

.wrapper_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 8px 16px 8px;
    gap: 12px;
    border-radius: 16px;
    background-color: white;
}

.wrapper_card h3 {
    text-align: center;
    font-size: 16px;
}

.wrapper_card h3:last-child {
    color: #FF5C00;
}

.login {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 60px 0 60px 60px;
    background-image: url("../public/img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.login_card {
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 110px;
    padding: 50px 30px 50px 30px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 24px 64px -16px rgba(25, 25, 28, 0.08);
}

.login_card form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login_card_icon {
    text-align: center;
}

.login_title {
    text-align: center;
}

.login_title h1 {
    color: #19191C;
    font-size: 26px;
    font-weight: 600;
}

.login_title p {
    color: #828487;
    font-size: 14px;
    font-weight: 400;
}

.login_inputs label {
    color: #828487;
    font-size: 12px;
}

.login_input {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 58px;
    padding: 12px 16px;
    border: 1px solid #E4E4E4;
}

.login_input input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
}

.forgot a {
    color: #FF5C00;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.login_card button {
    padding: 12px;
    border-radius: 58px;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    background: #FF5C00;
}

.endUser {
    color: #828487;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.main_home {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-image: url('../public/img/BackgroundMain.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.admin_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.admin_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    cursor: pointer;
}

.admin_card figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.admin_card:hover img {
    transform: scale(1.2);
    opacity: 1;
}

.admin_card:hover p {
    transform: scale(1.1);
    opacity: 1;
}

.admin_card img {
    width: 100%;
    opacity: 0.64;
    transition: .3s ease-in-out;
}

.admin_card p {
    font-size: 12px;
    font-weight: 400;
    color: white;
    opacity: 0.64;
    transition: .3s ease-in-out;
}

.main_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main_btns .top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main_btns .top button {
    width: 172px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    padding: 12px;
    border: none;
    border-radius: 58px;
    background: #FF5C00;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.main_btns .top button:last-child {
    color: rgba(255, 92, 0, 1);
    background-color: rgba(255, 245, 238, 1);
}

.main_btns a {
    width: 100%;
    text-align: center;
    padding: 12px;
    border-radius: 58px;
    color: #FF5C00;
    border: 1px solid #FF5C00;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    text-decoration: none;
    user-select: none;
}

.clockIn {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 200px;
    padding: 0 0 65px 0;
    background-image: url('../public/img/BackgroundMain.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.clock_wrapper {
    display: flex;
    flex-direction: column;
    color: white;
}

.clock_wrapper .top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.clock_wrapper .hour {
    font-size: 160px;
    line-height: 100%;
}

.clock_wrapper .session {
    font-size: 44px;
    /* line-height: 100%; */
}

.clock_wrapper .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    line-height: 150%;
}

.clockIn_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.clockIn_footer figure {
    width: 80px;
    height: 80px;
}

.clockIn_footer figure img {
    width: 100%;
}

.clockIn_title {
    color: white;
}

.clockIn_title h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
}

.clockIn_title h3 {
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
}

.clockIn_title span {
    font-size: 18px;
    font-weight: 600;
}